.App {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #d3d3fe;
}

.display {
    height: 500px;
    background-color: rgb(92, 101, 100);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.drum-pad {
    font-size: 3rem;
    padding: 20px;
    margin: 10px;
    border-radius: 15px;
    cursor: pointer;
    background-color: rgba(244, 62, 46);
    color: white;
    outline: none;
    border: none;
}