body {
    margin: 0;
    padding: 0;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: red;
    font-family: comfortaa;
    animation: changeBg 10s linear infinite;
}

@keyframes changeBg {
    0% {
        background-color: red;
    }
    25% {
        background-color: yellow;
    }
    50% {
        background-color: green;
    }
    75% {
        background-color: blue;
    }
    100% {
        background-color: red;
    }
}

.drum-machine {
    background-color: white;
    opacity: 1;
    border-radius: 20px;
    width: 400px;
    border: 5px solid #0d000d;
}

.keyboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5px;
    row-gap: 5px;
    padding: 0px 10px;
}

.display-text {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: #0d000d;
    font-size: 2rem;
    padding: 10px;
    height: 40px;
    font-weight: bold;
}

.title {
    color: #0d000d;
    padding: 10px;
    text-align: center;
}

.drum-pad {
    font-size: 3rem;
    padding: 20px;
    margin: 5px;
    border-radius: 15px;
    cursor: pointer;
    background-color: #0d000d;
    color: white;
    border: 5px solid #353535;
}

.drum-pad:hover {
    background-color: #353535;
    transition: 0.5s;
}