body {
    margin: 0;
    padding: 0;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #d3d3fe;
    font-family: comfortaa;
}

.display {
    background-color: rgb(92, 101, 100);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.title {
    color: white;
    padding: 10px;
}

.display-sound {
    width: 150px;
    color: white;
    font-size: 1.5rem;
}

.drum-pad {
    font-size: 3rem;
    padding: 20px;
    margin: 10px;
    border-radius: 15px;
    cursor: pointer;
    background-color: rgba(244, 62, 46);
    color: white;
    outline: none;
    border: none;
    width: 90px;
}